{% extends "home.base.html" %}

{% block title %}Treated Patients{% endblock %}

{% block content %}
<div class="row">
<div class="col-lg-12">
<h1 class="page-header">Treated Patients</h1>
</div>
</div>

<div class="panel-body">
    <ul class="chat">

        {% for patient in patients %}
        <li class="left clearfix" id="p-{{ patient.id }}">
            <span class="chat-img pull-left">
               <img src="/static/images/profile.png" alt="User Avatar" class="img-circle">
            </span>
            <small class="pull-right text-muted"><a href="/web/doctor/referral/{{ patient.id }}/" class="btn btn-warning">Referrals</a> <a href="/web/doctor/patient/{{ patient.id }}/" class="btn btn-success">History Records</a></small>
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="primary-font">{{ patient.user.name }}</strong>
                </div>
                <p>
                    <span class="label label-primary">id: {{ patient.user.username }}</span>
                </p>
            </div>
        </li>
        {% endfor %}

    </ul>
</div>
{% endblock %}